.projects {
  margin: 10px 10px;
}
.breadcrum {
  font-weight: 100;
  color:#dee2e6
}
.breadcrum a{
  color:#0080ff
}

.checkbox {
  width:20px;
  height: 20px;
}
.table td, .table th {
  border: 1px solid #dee2e6;
  height:30px;
}
.table.table-head-fixed thead tr:nth-child(1) th {
  background-color: #f4f6f9;
}
.table tbody tr td{
  color: #212529;
  font-weight: 400;
}