.login {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login .content {
  width: 460px;
}
.skin-blue .wrapper {
  background-color: #fff;
}
.login-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #edebeb;
}
