.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

/* Time Entry Styles */
#timeEntry .buttonContainer span { 
  padding:10px;
}
#timeEntry .timerntrytbl {
    border:1px solid #333;
    padding: 30px;
}
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding:10px 10px 10px 10px;
  }

  .timerntrytbl thead .firstRow {
    font-size:16px;
    background: #FFF;
  }

  .timerntrytbl thead .headRow {
    font-size:16px;
    background: #ccc;
  }

  .timerntrytbl tbody input {
    font-size:12px;
    width:50px;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
